<% provide(:title, 'ユーザー一覧') %>
<h1>ユーザー一覧</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <% if user.image %>
       <%= image_tag "/user_images/#{user.image}" %>
      <% else %>
       <%= image_tag "egg.png",:size => '30x30' %>
      <% end %>
      <%= link_to user.username, user %>
    </li></br>
  <% end %>
</ul>
