<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @user.username %>のフォロワー</h1>
      <h5>フォロワー数 : <%= @user.followers.count %></h5>
    </section>
  </aside>
  <div class="span8">
    <% if @users.any? %>
      <ul class="users">
        <% @followers.each do |follower| %>
        <tr>
          <li><%= link_to @users.find_by(id: follower.following_id).username,
          user_path(:id => @users.find_by(id: follower.following_id).id) %></li>
        </tr>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>
