<% if user_signed_in? %>
<!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
<!-- *_path はUserモデルを作成したときに、
deviseにより自動で作成されてますので、rake routesで確認できます -->
  <%= redirect_to tweets_path %>
  <% else %>
  <h1>TweetRailへようこそ</h1></br>
  <%= link_to "ユーザー登録",  new_user_registration_path,:class => 'btn btn-success' %></br>
</br>
  <%= link_to "ログイン",  new_user_session_path,:class => 'btn btn-primary' %>
<% end %>
